parameters:
    level: max
    reportUnmatchedIgnoredErrors: false
    paths:
        - src
        - tests/Behat

    excludePaths:
        - 'src/DependencyInjection/Configuration.php'

    ignoreErrors:
        - identifier: missingType.generics
        - identifier: missingType.iterableValue